*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    text-align: center;
    background-color: rgb(137, 161, 177);
    padding: 1rem;
}
.header-container header{
    font-size: 30pt;
}
.js-container {
    position: relative;
    top: 5rem;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.counters-container {
    padding: 1rem;
}
.reset {
    padding: 1rem;
}
.counter {
    margin: 1rem;
}
.counter__button {
    padding: 5px;
}
#current-date {
    padding: 1rem;
}
.current-date {
    margin: 1rem;
}
#current-time {
    padding: 1rem; 
}
.current-time {
    margin: 1rem;
}

