*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    text-align: center;
    background-color: rgb(137, 161, 177);
    padding: 1rem;
}
.header-container header{
    font-size: 30pt;
}
.js-container {
    position: relative;
    top: 5rem;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.counters-container {
    padding: 1rem;
}
.reset {
    padding: 1rem;
}
.counter {
    margin: 1rem;
}
.counter__button {
    padding: 5px;
}
#current-date {
    padding: 1rem;
}
.current-date {
    margin: 1rem;
}
#current-time {
    padding: 1rem; 
}
.current-time {
    margin: 1rem;
}
#alert-container{
    margin-left: 10vw;
    width: 80vw;
    position: absolute;
}
.alert {
    position: relative;
    top: 0;
    left: 25%;
    width: 50%;
    height: 10rem;
    background-color: grey;
    
}
.alert-dismiss{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}
.open-alert{
    position: absolute;
    background-color: firebrick;
}
#toast-container{
    position: absolute;
    bottom: 0;
    right: 0;
}
.toast {
    border: 1px solid black;
    padding: 1rem;
}
